<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
  <div class="clearfix">
    <div class="fb-profile">
        <div class="col-xs-9">
          <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example"/>
        </div>
    </div>
  </div>
  <div class="col-xs-6 pull-left">
    <%= @user.username %><br>
    <%= @user.bio %>
    <%= button_to "Follow",  :class => "btn btn-primary btn-sm", :method => :post %><br/>
  </div>
</div>
