<h1>Now its time to pick your username</h1>
<%= bootstrap_form_for(@user, :url => wizard_path, :method => :put) do |f| %>
  <%= f.text_field :username, :placeholder => "Username" %>
  <%= f.submit 'Next Step', :class => 'btn btn-primary'%>
<% end %>
