<%= bootstrap_form_for(@new_squawk) do |f| %>

  <div class="field">
    <%=          %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id if current_user %>
  </div>

  <div class="actions">
    <%=        %>
  </div>

<% %>
