  <div class="col-xs-3">
    <%= render partial: 'homeprofile', locals: { user: current_user } %>
  </div>

  <div class="infinite-table">
    <table>
      <div class="col-xs-6">
        <%= render partial: 'squawk', collection: @squawks %>
      </div>
    </table>
    <div class="btn-group">
      <p class="pagination">
        <%= link_to_next_page(@squawks, 'Next Page', :remote => true) %>
      </p>
    </div>
  </div>

  <div class="col-xs-3">
    <% @who_to_follow.each do |user| %>
      <%= render partial: 'who_to_follow', locals: { user: user } %>
    <% end %>
  </div>
