<div class="infinite-table"
<div class="container">
  <div class="col-xs-6">
    <%= render partial: 'squawk', collection: @squawks %>
    <div class="btn-group">
    <span><%= paginate @squawks %></span>
  </div>
  </div>
</div>
</div>
